# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
myapp/dist
myapp/tmp
myapp/out-tsc
# Only exists if Bazel was run
myapp/bazel-out

# dependencies
myapp/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
myapp/.idea
.project
.classpath
myapp.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
myapp/.sass-cache
myapp/connect.lock
myapp/coverage
myapp/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
myapp/typings

# System Files
.DS_Store
Thumbs.db
